{% extends 'AppRecetas/base.html' %}

{% load static %}

{% block main %}
<div class="card mb-4">
    <div class="card-header">Acerca de mí</div>
    <div class="card-body">Mi nombre es Micaela Ortiz. Tengo 25 años. Soy de Rosario.<br>
        Hace casi un año me recibí de Ingeniera Civil.<br>
        Me interesé por la programación en la facultad, donde dimos lenguaje C++ en Informática durante un cuatrimestre.<br>
        Hasta ese entonces desconocía del tema y me quedó pendiente indagar en eso.
        Por ello decidí hacer este curso de Python, me llamaba más el backend. 
    </div>
</div>
{%endblock main%}