{% extends 'AppRecetas/base.html' %}

{% load static %}

{% block main %}

{% for categoria in object_list %}
    <p>{{ categoria.nombre }}: {{categoria.descripcion}}</p>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-start">
                <a class="btn btn-danger btn-space" href="{% url 'DeleteC' categoria.id %}">Eliminar</a>
                <a class="btn btn-primary" href="{% url 'UpdateC' categoria.id %}">Editar</a>
            </div>
        </div>
    </div>
    <br>
{% endfor %}

{% endblock main %}