{% extends 'AppRecetas/base.html' %}

{% load static %}

{% block main %}

<div class="card mb-4">
    <div class="card-body">{{ categoria.nombre }}: {{categoria.descripcion}}</div>
    <div class="row">
        <div class="col-md-12">
            {% for receta in recetas %}
            <div class="d-flex justify-content-start">
            <p class="mr-2">{{receta.titulo}}</p>
                <a class="btn btn-primary btn-sm" href="{%url 'Detalle' receta.id%}">Ver</a>
            </div>
            <br>
            <br>
            {%endfor%}
        </div>
    </div>
    <br>
</div>



{% endblock main %}