{% extends 'AppRecetas/base.html' %}

{% load static %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                {% for receta in recetas|slice:":4" %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{{receta.imagen.url}}" alt="..." style: width="300"; height="300" /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{receta.fecha_hora_de_subida}}
                                <p class="card-text">Autor: {{receta.autor}}</p>
                            </div>
                            <h2 class="card-title h4">{{receta.titulo}}</h2>
                            <p class="card-text">{{receta.subtitulo}}</p>
                            <a class="btn btn-primary" href="{% url 'Detalle' receta.id %}">Leer más →</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Side widgets-->
            <div class="card mb-4">
                <div class="card-header">
                    <a class="nav-link" href="{% url 'Formulario-Buscar-Receta' %}">Buscar</a>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categorías</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for categoria in categorias|slice:":4" %}
                                <li><a href="{% url 'Recetas-Por-Categoria' categoria.id %}">{{ categoria.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for categoria in categorias|slice:"4:" %}
                                <li><a href="{% url 'Recetas-Por-Categoria' categoria.id %}">{{ categoria.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
