{% extends 'AppRecetas/base.html' %}

{% load static %}

{% block main %}
        <h2 class="text-center">{{receta.titulo}}</h2>
        <div class="text-center">
        <a href="#!"><img class="card-img-top mx-auto" src="{{receta.imagen.url}}" alt="..." style="width: 50%; height: auto;"/></a>
        </div>
        <br>
        <br>
        <p style="font-size: 12px;">Subido el: {{receta.fecha_hora_de_subida}}</p>
        <p style="font-size: 12px;">Autor: {{receta.autor}}</p>
        <p>Categoría/s: 
            {% for categoria in receta.categoria.all %}
            {{categoria.nombre}},
        {% endfor %}</p>
        <p>Ingredientes: {{receta.ingredientes}}</p>
        <p>Pasos: 
            <br>
        {{receta.pasos}}</p>
        <p>Tiempo de cocción: {{receta.tiempo_de_coccion}}'</p> 
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-primary btn-sm btn-space" href="{%url 'Update' receta.id%}">Editar</a></p>
                        <a class="btn btn-danger btn-sm btn-space" href="{%url 'Delete' receta.id%}">Eliminar</a></p>
                        <a class="btn btn-primary btn-sm " href="{%url 'Recetas'%}">Regresar</a></p>
                    </div>
                </div>
            </div>
        <br>
    
{% endblock main %}