{% extends 'AppRecetas/base.html' %}

{% load static %}

{% block main %}

<a class="btn btn-primary" href="{%url 'Formulario-Buscar-Receta'%}">Regresar</a>
<br>
<br>
    {%for receta in receta.all%}
    <div class="col-md-4">
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="{{receta.imagen.url}}" alt="..." style="width: 100%; height: auto;"/></a>
            <div class="card-body">
                <div class="small text-muted">{{receta.fecha_hora_de_subida}}</div>
                <h2 class="card-title h4">{{receta.titulo}}</h2>
                <p class="card-text">{{receta.subtitulo}}</p>
                <a class="btn btn-primary" href="{%url 'Detalle' receta.id%}">Leer más →</a>
            </div>
        </div>
    </div>
    {%endfor%}
{% endblock main %}