{% extends 'AppRecetas/base.html' %}

{% load static %}

{% block title %} Mostrar perfil {% endblock title %}

{% block main %}
        
        <p>Nombre: <i>{{user.first_name}}</i></p>
        <p>Apellido: <i>{{user.last_name}}</i></p>
        <p>Email: <i>{{user.email}}</i></p>
        <p>Avatar:</p>
        <a href="#!"><img class="card-img-top mx-auto" src="{{perfil.avatar.url}}" alt="..." style="width: 10%; height: auto;"/></a>
        <br>
        <br>
        <p> <a href="{%url 'Inicio'%}">Regresar</a></p>
        
{% endblock main %}